<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table-hover">
      <col width = "80">
      <col width = "80">
      <col width = "180">
      <col width = "80">
      <tr><td style = "font-weight:bold">Username:</td><td><%=@user.username%></td></tr>
        <th>Favorites:</th>
      </tr>

      <% @user.favorites.each do |favorite| %>
      <tr>
        <td></td>
        <td style = "font-weight:bold">dish:</td>
        <td><%= favorite.dish.name%></td>
        <td style = "font-weight:bold">venue:</td>
        <td><%= favorite.venue.name %></td>
      </tr>
      <% end %>
    </table>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
