<div class="page-header">
  <h3>Venue #<%= @venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

    <table class="table-hover">
      <col width = "120">
      <col width = "300">
      <col width = "80">
      <col width = "80">
      <tr><td style = "font-weight:bold">Name:</td><td><%= @venue.name %></td></tr>
      <tr><td style = "font-weight:bold">Address:</td><td><%= @venue.address %></td></tr>
      <tr><td style = "font-weight:bold">Neighborhood:</td><td><%= @venue.neighborhood.name %></td></tr>
      <tr>
        <th>Favorites:</th>
      </tr>

      <% @venue.favorites.each do |favorite| %>
      <tr>
        <td></td>
        <td style = "font-weight:bold">user:</td>
        <td><%= favorite.user.username%></td>
        <td style = "font-weight:bold">venue:</td>
        <td><%= favorite.venue.name %></td>
      </tr>
      <% end %>
    </table>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        Back
      </a>
      <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
