<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

    <table class="table-hover">
      <col width = "80">
      <col width = "80">
      <col width = "80">
      <col width = "80">
      <tr><td style = "font-weight:bold">Name:</td><td><%=@dish.name%></td></tr>
      <tr><td style = "font-weight:bold">Cuisine:</td><td><%=@dish.cuisine.name%></td></tr>
      <tr>
        <th>Favorites:</th>
      </tr>

      <% @dish.favorites.each do |favorite| %>
      <tr>
        <td></td>
        <td style = "font-weight:bold">user:</td>
        <td><%= favorite.user.username%></td>
        <td style = "font-weight:bold">venue:</td>
        <td><%= favorite.venue.name %></td>
      </tr>
      <% end %>
    </table>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
