<div class="page-header">
  <h3>Neighborhood #<%= @neighborhood.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

    <table class="table-hover">
      <tr><td style = "font-weight:bold">Name:</td><td><%=@neighborhood.name%></td></tr>
      <tr><td style = "font-weight:bold">City:</td><td><%=@neighborhood.city%></td></tr>
      <tr>
        <th>Venues:</th>
      </tr>

      <% @neighborhood.venues.each do |venue| %>
      <tr>
        <td></td>
        <td><%= venue.name %></td>
      </tr>
      <% end %>
    </table>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/neighborhoods" class="btn btn-primary">
        Back
      </a>
      <a href="/neighborhoods/<%= @neighborhood.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_neighborhood/<%= @neighborhood.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
