<div class="page-header">
  <h3>Neighborhood #<%= @neighborhood.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd><%=@neighborhood.name%></dd>

      <dt>City:</dt>
      <dd><%=@neighborhood.city%></dd>

      <dt>Venues:</dt>
      <dd>
        <ul class = "list-group"></ul>
        <% @neighborhood.venues.each do |venue| %>
          <li class="list-group-item">
            <%=venue.name%>
          </li>
        <%end%>

          <li class="list-group-item">
            <form action="/create_venue" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token %>">

              <!-- Label and input for name -->
              <div class="form-group">
                <label for="name" class="control-label">
                  Name
                </label>
                <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
              </div>

              <!-- Label and input for address -->
              <div class="form-group">
                <label for="address" class="control-label">
                  Address
                </label>
                <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
              </div>

              <!-- Label and input for neighborhood_id -->
              <input type="hidden" name="neighborhood_id" id = "neighborhood_id" value="<%=@neighborhood.id%>">

              <button class="btn btn-success btn-block">
                Create Venue
              </button>
            </form>
          </li>
        </dd>

        <dt>Favorites:</dt>
        <dd>
        <ul class = "list-group"></ul>
         <% @neighborhood.favorites.each do |favorite| %>
          <li class="list-group-item">
            <%=favorite.dish.name%> at <%= favorite.venue.name %> by <%= favorite.user.username  %>
          </li>
        <%end%>
        </dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/neighborhoods" class="btn btn-primary">
        Back
      </a>
      <a href="/neighborhoods/<%= @neighborhood.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_neighborhood/<%= @neighborhood.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
